#menu ::placeholder {
    color: #3f3b3b;
}

#logo {
    font-size: 1.7rem;
}

.margin-top {
    margin-top: 20px;
}

#btn-enter {
    position: relative;
    bottom: 5px;
}

.uppercase {
    text-transform: uppercase;
}

h1 a:visited,
h1 a:link,
h1 a:active {
    color: #2e7d32;
}

.white-link:visited,
.white-link:link,
.white-link:active {
    color: white;
}

.marg-bot-5 {
    margin-bottom: 5px;
}

.margin-up-and-down {
    margin: 25px 0;
}

.myCard {
    margin: 5em 0;
}

.bold {
    font-weight: bold !important;
}

.sans {
    font-family: sans-serif;
}

.img-100 {
    width: 100%;
}

.my-container {
    padding: 0 1em;
}
