#menu a:visited,
#menu a:link,
#menu a:active {
    color: #2e7d32;
}

main {
    margin: 3em 0;
}

#logo {
    padding-top: 5px;
}

aside div.card-title {
    color: #8a8383;
}

.pad-up-and-down {
    padding: 2em 0 !important;
}

.margin-top {
    margin-top: 20px;
}

.uppercase {
    text-transform: uppercase;
}

h1 a:visited,
h1 a:link,
h1 a:active {
    color: #2e7d32;
    text-decoration: underline;
}

.white-link:visited,
.white-link:link,
.white-link:active {
    color: white;
}

.marg-bot-5 {
    margin-bottom: 5px;
}

.margin-up-and-down {
    margin: 25px 0;
}

.myCard {
    margin: 5em 0;
}

.bold {
    font-weight: bold !important;
}

.sans {
    font-family: sans-serif;
}

.img-100 {
    width: 100%;
}

.my-container {
    padding: 0 1em;
}
