<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <h2>Entrar em contato</h2>
    <form action="/send" method="POST">
        <ul class="form-style-1">
            <li>
                <label for="nome">Nome completo <span class="required">*</span></label>
                <input required="required" id="nome" type="text" name="nome" class="field-divided" placeholder="Nome completo" />
            </li>
            <li>
                <label for="cpf">CPF somente números<span class="required">*</span></label>
                <input required="required" id="cpf" type="text" name="cpf" class="field-divided" placeholder="CPF" />
            </li>
            <li>
                <label for="email">Email <span class="required">*</span></label>
                <input required="required" id="email" type="email" name="email" class="field-long" />
            </li>
            <li>
                <label for="op">Opção</label>
                <select required="required" id="op" name="opcao" class="field-select">
                    <option value="Sugerir">Sugerir</option>
                    <option value="Elogiar">Elogiar</option>
                    <option value="Reclamar">Reclamar</option>
                </select>
            </li>
            <li>
                <label for="msg">Sua mensagem <span class="required">*</span></label>
                <textarea required="required" name="mensagem" id="msg" maxlength="300" class="field-long field-textarea"></textarea>
            </li>
            <li>
                <input type="submit" value="Enviar" />
            </li>
        </ul>
    </form>
    <figure>
        <img src="img/logo.png" alt="">
    </figure>
</body>
</html>